*.h~
*.cpp~
*.c~
*.o
*.exe
*.log
*.pyc
.metadata
.cproject
.project
.settings
*.db
README.html
*.dump
.idea*
*_generated.h

src/motioncore/communication/fbs_headers/*
src/motioncore/utility/config.h

# build directory
build*/
cmake-build*

# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
*Config.cmake
*Targets.cmake
*.cbp
# VS Code Directory
.vscode/

# doxygen
docs/Doxyfile

# All the result files, such as the intermediary output shares, etc.
Dataprovider/image_provider/Final_Output_Shares/
Dataprovider/image_provider/answer

# Docker 
docker-compose.registry.yaml
docker-compose.remote-registry.yaml

# data
/data/
data/

# config file
config_files/smpc-helpernode-config.json
config_files/smpc-split-config.json
config_files/smpc-cnn-config.json
config_files/model_helpernode_config.json
config_files/model_split_config.json
config_files/model_cnn_config.json
config_files/image_config.json
config_files/smpc-constant-config.json
config_files/model_const_config_2L.json
config_files/model_const_config_5L.json
# log files
logs/

#pycache
GUI/__pycache__/

#output file for GUI
GUI/output.txt

#Input Images
GUI/Input_Images/*png


